node_modules
config.env
/frontend/node_modules
/frontend2/node_modules
/frontend/dist
/frontend/.parcel-cache
/credentials_postgres_local.txt
/credentials_postgres_supabase.txt
/credentials_mongodb.txt