@font-face {
  font-family: "interim";
  src: url("../assets/fonts/Inter-variable.ttf");
}
@font-face {
  font-family: "grapenut";
  src: url("../assets/fonts/playwright-variable.ttf");
}
@font-face {
  font-family: "interim";
  src: url("../assets/fonts/Inter-variable.ttf");
}
@font-face {
  font-family: "grapenut";
  src: url("../assets/fonts/PlaywriteCU-Regular.ttf");
}
#AppLayout {
  position: absolute;
  inset: 3% 2%;
  background-color: rgba(240, 248, 255, 0.2);
  backdrop-filter: blur(3px);
}

.container {
  display: flex;
  position: absolute;
  inset: 2%;
  border-color: black;
}

/* Sidebar (Left Panel) */
.sidebar {
  flex: 0 0 30%; /* Occupies 30% of the width */
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.sidebar-header {
  flex: 0 0 10%; /* Header takes 10% of the height */
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-list {
  flex: 1; /* Takes up the remaining height (85%) */
  overflow-y: auto; /* Scrollable chat list */
  padding: 10px;
}

.sidebar-footer {
  flex: 0 0 5%; /* Footer takes 5% of the height */
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chat Area (Right Panel) */
.chat-area {
  flex: 0 0 70%; /* Occupies 70% of the width */
  display: flex;
  flex-direction: column;
}

.chat-header {
  flex: 0 0 10%; /* Header takes 10% of the height */
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.message-history {
  flex: 1; /* Takes up 85% of the height */
  padding: 10px;
  overflow-y: auto; /* Scrollable message history */
}

.chat-footer {
  flex: 0 0 5%; /* Footer takes 5% of the height */
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.ChatLayout {
  display: flex;
  background-color: transparent;
  height: 100%;
}
.ChatLayout .header {
  background-color: transparent;
  border-right-width: 0.1px;
  border-color: rgba(255, 255, 255, 0.647);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  height: inherit;
  flex-grow: 0;
}
.ChatLayout .chatContainer {
  flex-grow: 1;
  background-color: transparent;
}

.header_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: transparent;
  color: white;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
  border: 0;
}
.header_button:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(237, 231, 231, 0.353);
  color: white;
}
.header_button:focus {
  border: none;
  border-color: transparent;
  background-color: rgba(245, 238, 238, 0.453);
}
.header_button svg {
  font-size: 1.9rem;
  border: none;
}
.header_button svg:focus {
  border: 0;
}

.contact_section {
  flex: auto;
  align-self: stretch;
  background-color: transparent;
  height: 100%;
  color: white;
}
.contact_section .conversation {
  padding: 0px;
  background-color: transparent;
  width: 100%;
  display: flex;
  height: 4.5rem;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in;
  margin: 0px 0;
}
.contact_section .conversation::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-40%);
  height: 0.8px;
  width: 70%;
  background-color: rgb(215, 207, 207);
  display: block;
}
.contact_section .conversation:hover {
  background-color: rgba(234, 229, 237, 0.293);
}
.contact_section .conversation .time-span {
  margin: 0;
  margin-right: 1rem;
  margin-block: auto;
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
}
.contact_section .conversation .time_block {
  padding-block: auto;
}
.contact_section .conversation .icon-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1.1rem;
  color: #5b2474;
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.08s ease;
}
.contact_section .conversation .unread_messages {
  transition: all 0.2s ease;
  transform: translateY(-0.9rem);
}
.contact_section .conversation:hover .icon-bottom-right {
  transform: translateX(-0.9rem);
  opacity: 1;
}
.contact_section .conversation:hover .unread_messages {
  transform: translate(-1.5rem, -0.9rem);
}
.contact_section .conversation .last_chat {
  display: inline-block;
  font-size: 0.875rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact_section .conversation .last_chat strong {
  font-weight: 600;
  color: #000000;
}
.contact_section .conversation .avatar {
  width: 2rem;
  height: 2rem;
  margin-left: 10px;
  right: 0;
  position: absolute;
}

.Archived_Bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 4rem;
  background-color: rgba(52, 152, 219, 0.1);
  color: #3498db;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.1s ease, box-shadow 0.3s ease;
}

.Archived_Bar:hover {
  background-color: rgba(52, 152, 219, 0.2);
}

.archive-icon {
  font-size: 1.5rem;
  margin-right: 2rem;
  color: white;
}

.archive-text {
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}

.selected_convo {
  position: absolute;
  inset: 0;
  background-color: #73368e;
  z-index: 0;
}

/* ChatTab.css */
.chat-tab {
  width: 100%;
  background-color: transparent;
  border-right: 1px solid #e0e0e0;
  color: white;
}

.chat-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  margin: 0;
}

.chat-tab-header h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.new-chat-icon {
  font-size: 1.4em;
  cursor: pointer;
  color: white;
}

/* Tabs section */
.chat-tab-tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.tab {
  position: relative;
  z-index: 1;
  transition: color 0.2s ease;
}

.tab.active {
  color: white;
}

.tab_bar:hover {
  background-color: rgba(91, 36, 116, 0.7);
  color: white;
}

.active-tab-background {
  font-size: 1em;
  border-radius: 3px;
  position: absolute;
  inset: 0;
  background-color: #5b2474;
  z-index: 0;
}

.chat-tab-search {
  display: flex;
  width: 100%;
  margin-inline: auto;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}

.search-icon {
  margin-right: 8px;
  color: #888888;
}

.chat-tab-search input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  outline: none;
  color: black;
  font-size: 1em;
}

.chat-tab-search input::placeholder {
  color: #cccccc;
}

.chat-list {
  padding: 16px;
}

.Archived_Bar {
  height: 4.5rem;
  background-color: rgba(91, 36, 116, 0.8);
}

.tab_bar {
  font-size: 1em;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  position: relative;
}

.chat {
  font-size: 1rem;
}
.chat .chat_icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 2rem;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.chat .chat_icons:hover {
  background-color: rgba(0, 0, 0, 0.008);
  transform: scale(1.2);
}
.chat .chat_text_input {
  color: purple;
  background-color: rgba(91, 36, 116, 0.15);
}
.chat input {
  font-size: 0.9rem;
  background-color: rgba(91, 36, 116, 0.15);
}
.chat header {
  background-color: rgba(91, 36, 116, 0.95);
  color: white;
}

.section_registration {
  background-color: transparent;
}

.section_2 {
  font-family: "interim";
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_1 {
  font-family: "interim";
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 4.5rem;
  font-weight: 700;
}

.login-form {
  background-color: transparent;
  border-radius: 12px;
  padding: 24px;
  max-width: 400px;
}
.login-form .form-heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: "interim";
  color: #6b21a8;
  margin-bottom: 3.4rem;
}
.login-form .input-group {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border: 1px solid #d8b4fe;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  transition: border-color 0.3s, background-color 0.3s;
}
.login-form .input-group:focus-within {
  background-color: #e8eaf6;
  border-color: #9333ea;
}
.login-form .input-group .icon {
  color: #9333ea;
  margin-right: 0.9rem;
  font-size: 1.1rem;
}
.login-form .input-group .input-field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #6b21a8;
  font-size: 16px;
}
.login-form .input-group .input-field:focus {
  color: #3b82f6;
}
.login-form .input-group .toggle-password {
  cursor: pointer;
  margin-left: 8px;
  color: #6b21a8;
  opacity: 0;
  transition: opacity 0.3s;
}
.login-form .input-group .input-field:focus + .toggle-password {
  opacity: 1;
}
.login-form .submit-btn {
  width: 60%;
  background: linear-gradient(to right, #9333ea, #3b82f6);
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}
.login-form .submit-btn:hover {
  opacity: 0.9;
}
.login-form .submit-btn:active {
  transform: scale(0.98);
  background: linear-gradient(to right, #6b21a8, #2563eb);
}

.icon {
  font-size: 2rem;
}
.icon:active {
  color: #6b21a8;
}

.tabs {
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  gap: 2rem;
}
.tabs .tabs_tab {
  position: relative;
  flex-grow: 1;
  cursor: pointer;
  padding-block: 0.4rem;
  transition: all 0.2s ease;
}
.tabs .tabs_tab:hover {
  background-color: hsla(273, 67%, 39%, 0.447);
  box-shadow: 0 4px 8px hsla(273, 67%, 39%, 0.447);
}
.tabs .selected_bg {
  background-color: #6b21a8;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.tabs .text {
  z-index: 10;
  display: block;
  inset: 0;
  position: relative;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: white;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: linear-gradient(to right, #5b2474, #1bcedf);
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*# sourceMappingURL=App.css.map */
