@use "./utils/fonts.scss";
@use "./utils/typography.scss";
@use "./utils//colors.scss";
@use "./AppLayout.scss";
@use "./components/dummyChatLayout.scss";
@use "./components/ChatLayout.scss";
@use "./components/Contact_section.scss";
@use "./components/ChatTab.scss";
@use "./components/ChatContainer.scss";
@use "./components/Form.scss";
@use "./components/snackbar.scss";
@use "./components/Me.scss";
@use "./components/EmptyPreviewSlot.scss";
@use "./components/People_Convos_And_Buttons.scss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;

}
body {
  margin: 0;
  display: flex;
  place-items: center;
  background: linear-gradient(to right ,colors.$primary-base,colors.$secondary-base);

  min-width: 320px;
  min-height: 100vh;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav-link {
  color: rgba(white,0.8);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: rgba(white,1);
  }
}