@font-face {
  font-family: "interim";
  src: url("../assets/fonts/Inter-variable.ttf");
}
@font-face {
  font-family: "grapenut";
  src: url("../assets/fonts/PlaywriteCU-Regular.ttf");
}
#AppLayout {
  position: absolute;
  inset: 3% 2%;
  background-color: rgba(240, 248, 255, 0.2);
  backdrop-filter: blur(3px);
}

.container {
  display: flex;
  position: absolute;
  inset: 2%;
  border-color: black;
}

/* Sidebar (Left Panel) */
.sidebar {
  flex: 0 0 30%; /* Occupies 30% of the width */
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.sidebar-header {
  flex: 0 0 10%; /* Header takes 10% of the height */
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-list {
  flex: 1; /* Takes up the remaining height (85%) */
  overflow-y: auto; /* Scrollable chat list */
  padding: 10px;
}

.sidebar-footer {
  flex: 0 0 5%; /* Footer takes 5% of the height */
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chat Area (Right Panel) */
.chat-area {
  flex: 0 0 70%; /* Occupies 70% of the width */
  display: flex;
  flex-direction: column;
}

.chat-header {
  flex: 0 0 10%; /* Header takes 10% of the height */
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.message-history {
  flex: 1; /* Takes up 85% of the height */
  padding: 10px;
  overflow-y: auto; /* Scrollable message history */
}

.chat-footer {
  flex: 0 0 5%; /* Footer takes 5% of the height */
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.ChatLayout {
  display: flex;
  background-color: transparent;
  height: 100%;
}
.ChatLayout .header {
  background-color: transparent;
  border-right-width: 0.1px;
  border-color: rgba(255, 255, 255, 0.647);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  height: inherit;
  flex-grow: 0;
}
.ChatLayout .chatContainer {
  flex-grow: 1;
  background-color: transparent;
}

.header_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: transparent;
  color: white;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
  border: 0;
}
.header_button:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(237, 231, 231, 0.353);
  color: white;
}
.header_button:focus {
  border: none;
  border-color: transparent;
  background-color: rgba(245, 238, 238, 0.453);
}
.header_button svg {
  font-size: 1.9rem;
  border: none;
}
.header_button svg:focus {
  border: 0;
}

.contact_section {
  flex: auto;
  align-self: stretch;
  background-color: transparent;
  height: 100%;
  color: white;
}
.contact_section .conversation {
  padding: 0px;
  background-color: transparent;
  width: 100%;
  display: flex;
  height: 4.5rem;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in;
  margin: 0px 0;
}
.contact_section .conversation::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-40%);
  height: 0.8px;
  width: 70%;
  background-color: rgb(215, 207, 207);
  display: block;
}
.contact_section .conversation:hover {
  background-color: rgb(237, 229, 229);
}
.contact_section .conversation .time-span {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
}
.contact_section .conversation .icon-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1.1rem;
  color: #5b2474;
  opacity: 0;
  transition: transform 0.1s ease, opacity 0.08s ease;
}
.contact_section .conversation:hover .icon-bottom-right {
  transform: translateX(-0.9rem);
  opacity: 1;
}
.contact_section .conversation .last_chat {
  display: inline-block;
  font-size: 0.875rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact_section .conversation .last_chat strong {
  font-weight: 600;
  color: #000000;
}
.contact_section .conversation .avatar {
  width: 2rem;
  height: 2rem;
  margin-left: 10px;
  right: 0;
  position: absolute;
}

.chat_message {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 25%;
  z-index: 0;
  bottom: 0;
}
.chat_message .chat_bubble {
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
  margin-bottom: 5px;
}
.chat_message .chat_bubble .message {
  font-size: 0.875rem;
  color: #4A4A4A;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Archived_Bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 4rem;
  background-color: rgba(52, 152, 219, 0.1); /* Light transparent primary color */
  color: #3498db; /* Primary color for text */
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.1s ease, box-shadow 0.3s ease;
}

.Archived_Bar:hover {
  background-color: rgba(52, 152, 219, 0.2); /* Darken slightly on hover */
  /* Elevate shadow on hover */
}

.archive-icon {
  font-size: 1.5rem;
  margin-right: 2rem; /* Space between icon and text */
  color: white; /* Primary color for icon */
}

.archive-text {
  font-size: 1.1rem;
  color: white; /* Darker text for contrast */
  font-weight: 600;
}

/* ChatTab.css */
.chat-tab {
  width: 100%;
  background-color: transparent;
  border-right: 1px solid #e0e0e0;
  color: white;
}

.chat-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
  margin: 0;
}

.chat-tab-header h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.new-chat-icon {
  font-size: 1.4em;
  cursor: pointer;
  color: white;
}

/* Tabs section */
.chat-tab-tabs {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.tab {
  position: relative;
  z-index: 1;
  transition: color 0.2s ease;
}

.tab.active {
  color: white;
}

.tab_bar:hover {
  background-color: rgba(91, 36, 116, 0.7);
  color: white;
}

.active-tab-background {
  font-size: 1em;
  border-radius: 3px;
  position: absolute;
  inset: 0;
  background-color: #5b2474;
  z-index: 0;
}

.chat-tab-search {
  display: flex;
  width: 100%;
  margin-inline: auto;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}

.search-icon {
  margin-right: 8px;
  color: #888888;
}

.chat-tab-search input {
  width: 100%;
  padding: 0.2rem;
  border: none;
  outline: none;
  color: black;
  font-size: 1em;
}

.chat-tab-search input::placeholder {
  color: #cccccc;
}

.chat-list {
  padding: 16px;
}

.Archived_Bar {
  height: 4.5rem;
  background-color: rgba(91, 36, 116, 0.8);
}

.tab_bar {
  font-size: 1em;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  position: relative;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: linear-gradient(to right, #5b2474, #1bcedf);
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*# sourceMappingURL=App.css.map */
