@font-face {
    font-family: 'interim';
    src: url('../assets/fonts/Inter-variable.ttf') ;

  }
  
  @font-face {
    font-family: 'grapenut';
    src: url('../assets/fonts/playwright-variable.ttf') ; 
  }

  @font-face {
    font-family: 'suse';
    src: url('../assets/fonts/SUSE-Regular.ttf');
  }
  @font-face{
    font-family: "nanum";
    src:url('../assets//fonts/nanum.ttf')
  }