@use "../utils/colors.scss";

.chat {
    font-size: 1rem;

    .chat_icons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.7rem;
        height: 1.7rem;
        font-size: 2rem;
        border-radius: 50%;
        transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    }

    .chat_icons:hover {
        background-color: rgba(0,0,0,0.008);
        transform: scale(1.2);
    }
    .chat_text_input{
        color: purple;
        background-color: rgba(colors.$primary-base, 0.15);
    }
    input {
        font-size: 0.9rem;
        background-color: rgba(colors.$primary-base, 0.15);
    }

    header {
        background-color: rgba(colors.$primary-base, 0.95);
        color: white;
    }
}
.chat_window_section_display {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .chat_window_section_display::-webkit-scrollbar {
    width: 4px;
  }
  
  .chat_window_section_display::-webkit-scrollbar-track {
    display: none;
    opacity: 0;
    border-radius: 10px;
  }
  
  .chat_window_section_display::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #5f62ff, #fe7bf3);
    border-radius: 10px;
  }
  
  .chat_window_section_display::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ff6b4a, #fc67aa);
  }
  
  .chat_window_section_display {
 
  }
  