.section_registration {
  background-color: transparent;
}

.section_2 {
  font-family: "interim";
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_1 {
  font-family: 'interim';
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 4.5rem;
  font-weight: 700;
}

.login-form {
  background-color: transparent;
  border-radius: 12px;
  padding: 24px;
  max-width: 400px;

  .form-heading {
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    font-family: "interim";
    color: #6b21a8;
    margin-bottom: 3.4rem;
  }

  .input-group {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    border: 1px solid #d8b4fe;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
    transition: border-color 0.3s, background-color 0.3s;

    &:focus-within {
      background-color: #e8eaf6;
      border-color: #9333ea;
    }

    .icon {
      color: #9333ea;
      margin-right: 0.9rem;
      font-size: 1.1rem;
    }

    .input-field {
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      color: #6b21a8;
      font-size: 16px;

      &:focus {
        color: #3b82f6;
      }
    }

    .toggle-password {
      cursor: pointer;
      margin-left: 8px;
      color: #6b21a8;
      opacity: 0; // Initially hidden
      transition: opacity 0.3s;
    }


    .input-field:focus + .toggle-password {
      opacity: 1; 
    }
  }

  .submit-btn {
    width: 60%;
    background: linear-gradient(to right, #9333ea, #3b82f6);
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transform: scale(0.98);
      background: linear-gradient(to right, #6b21a8, #2563eb);
    }
  }
}

.icon {
  font-size: 2rem;

  &:active {
    color: #6b21a8;
  }
}
.tabs{
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  gap:2rem;
  .tabs_tab{
    position: relative;
    flex-grow: 1;
    cursor: pointer;
    padding-block: 0.4rem;
    transition: all  0.2s ease;
  }
  .tabs_tab:hover{

    background-color: hsla(273, 67%, 39%, 0.447);
    box-shadow: 0 4px 8px hsla(273, 67%, 39%, 0.447);
  }
  .selected_bg{
    background-color: #6b21a8;
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  .text{
    z-index: 10;
    display: block;
    inset: 0;
    position: relative;
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
  }
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: white;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}
